
<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
        <img src="/meeting.png" alt="">
    </div>
    <div class="headings">
        <h2>All meeting details</h2>
        <h3>By authorites</h3>
        <a href="/meeting" class="btn">View all</a>
    </div>
</header>

<%- include('partials/footer'); -%>